<section class="hero">
  <img class="hero__photo" src="assets/photos/main.png" alt="FluffyBreakers" />
  <div class="hero__text">
    <h1>{{ i18n.t('home.name') }}</h1>
    <h2>{{ i18n.t('home.brand') }}</h2>
    <p [innerHTML]="i18n.t('home.hero')"></p>
  </div>
</section>

<section class="faq">
  <div
    class="faq-item"
    [class.faq-item--open]="item.open"
    *ngFor="let item of faqItems"
  >
    <button class="faq-item__question" (click)="toggle(item)">
      <span>{{ i18n.t(item.qKey) }}</span>
      <span class="faq-item__arrow">&#9662;</span>
    </button>
    <div class="faq-item__answer">
      <p [innerHTML]="answerHtml(item.aKey)"></p>
    </div>
  </div>
</section>
